<div class="container px-5 px-sm-0">
 <div  class="row">

<%= render 'books/index', user: @user, book: @book %>

<div class="col-md-8 offset-md-1">

  <ul>
    <% if @new_book && @new_book.errors.any? %>
    <% @new_book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    <% end %>
  </ul>
<h2>Books</h2>
 <table class="table table-striped">
  <tr>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
   <th colspan="3"></th>
  </tr>
  <% @books.each do |book| %>
    <tr>
     <td>
      <%= link_to user_path(book.user.id) do %>
       <%= image_tag book.user.get_profile_image(100,100) %>
       <br><%= book.user.name %>
      <% end %>
     </td>


   <td>
     <%= link_to book_path(book.id) do %>
     <%= book.title %>
     <% end %>
   </td>

    <td><%= book.body %></td>

    </td>

</tr>
<% end %>

 </table>
